.App {
  text-align: center;
}

.hidden {
  display: none;
}

label {
  font-size: larger;
}

body {
  background-color: #1e1e2e;
  color: #cdd6f4;
}

table {
  border-collapse: collapse;
}
.SudokuBoard {
  display: flex;
  align-items: center;
  justify-content: center;
}

.SudokuCell {
  height: 3rem;
  width: 3rem;
  text-align: center;
  background-color: #313244;
  border-radius: 50%;
  border-style: hidden;
}

.ButtonTable {
  margin-left: auto;
  margin-right: auto;
}

input {
  font-size: larger;
}

td {
  padding: 0.35rem;
}

button {
  background-color: #cba6f7;
  color: #282c34;
  font-size: larger;
  border-radius: 3rem;
  border-style: hidden;
  width: 7rem;
  height: 3rem;
}

select {
  border-style: hidden;
  border-radius: 1rem;
  text-align: center;
}

/* Gruvbox Colours */

.gruvbox {
  background-color: #282828;
  color: #ebdbb2;
}

.gruvbox .BorderedRow td {
  border-bottom: 0.225rem solid #FE8018;
}

.gruvbox .BorderedColumn {
  border-right: 0.225rem solid #FE8018;
}

.gruvbox .SudokuCell {
  background-color: #3c3836;
}

.gruvbox button {
  background-color: #ebdbb2;
  color: #282828;
}

.gruvbox input {
  color: #ebdbb2;
}

.gruvbox select {
  background-color: #689D6A;
  color: #282828;
}

/* Catppuccin Colours */

.catppuccin {
  background-color: #303446;
  color: #c6d0f5;
}

.catppuccin .BorderedRow td {
  border-bottom: 0.225rem solid #f4b8e4;
}

.catppuccin .BorderedColumn {
  border-right: 0.225rem solid #f4b8e4;
}

.catppuccin .SudokuCell {
  background-color: #414559;
}

.catppuccin button {
  background-color: #a6d189;
  color: #303446;
}

.catppuccin input {
  color: #c6d0f5;
}

.catppuccin select {
  background-color: #babbf1;
  color: #303446;
}

/* Nord Colours */

.nord {
  background-color: #434c5e;
  color: #8fbcbb  ;
}

.nord .BorderedRow td {
  border-bottom: 0.225rem solid #81a1c1 ;
}

.nord .BorderedColumn {
  border-right: 0.225rem solid #81a1c1 ;
}

.nord .SudokuCell {
  background-color: #4c566a;
}

.nord button {
  background-color: #a3be8c;
  color: #434c5e;
}

.nord input {
  color: #e5e9f0 ;
}

.nord select {
  background-color: #5e81ac;
  color: #2e3440;
}

/* Atom One Colours */

.one {
  background-color: #282c34;
  color: #E06C75  ;
}

.one .BorderedRow td {
  border-bottom: 0.225rem solid #98c379 ;
}

.one .BorderedColumn {
  border-right: 0.225rem solid #98c379 ;
}

.one .SudokuCell {
  background-color: #2f343d;
}

.one button {
  background-color: #e5c07b;
  color: #282c34;
}

.one input {
  color: #abb2bf;
}

.one select {
  background-color: #56b6c2;
  color: #282c34;
}

/* Dracula Colours */

.dracula {
  background-color: #282a36;
  color: #f8f8f2  ;
}

.dracula .BorderedRow td {
  border-bottom: 0.225rem solid #bd93f9 ;
}

.dracula .BorderedColumn {
  border-right: 0.225rem solid #bd93f9
}

.dracula .SudokuCell {
  background-color: #44475a;
}

.dracula button {
  background-color: #ff79c6;
  color: #282a36;
}

.dracula input {
  color: #f8f8f2;
}

.dracula select {
  background-color: #50fa7b;
  color: #282a36;
}

/* Solarized Dark Colours */

.solarized-dark {
  background-color: #002b36;
  color: #eee8d5  ;
}

.solarized-dark .BorderedRow td {
  border-bottom: 0.225rem solid #2aa198 ;
}

.solarized-dark .BorderedColumn {
  border-right: 0.225rem solid #2aa198
}

.solarized-dark .SudokuCell {
  background-color: #073642;
}

.solarized-dark button {
  background-color: #859900;
  color: #002b36;
}

.solarized-dark input {
  color: #eee8d5;
}

.solarized-dark select {
  background-color: #b58900;
  color: #002b36;
}

/* Solarized Light Colours */

.solarized-light {
  background-color: #fdf6e3;
  color: #002b36  ;
}

.solarized-light .BorderedRow td {
  border-bottom: 0.225rem solid #cb4b16 ;
}

.solarized-light .BorderedColumn {
  border-right: 0.225rem solid #cb4b16
}

.solarized-light .SudokuCell {
  background-color: #eee8d5;
}

.solarized-light button {
  background-color: #859900;
  color: #002b36;
}

.solarized-light input {
  color: #657b83;
}

.solarized-light select {
  background-color: #b58900;
  color: #002b36;
}

/* Monokai Colours */

.monokai {
  background-color: #272822;
  color: #D6D6D6  ;
}

.monokai .BorderedRow td {
  border-bottom: 0.225rem solid #F92572 ;
}

.monokai .BorderedColumn {
  border-right: 0.225rem solid #F92572
}

.monokai .SudokuCell {
  background-color: #34352F;
}

.monokai button {
  background-color: #66D8EF;
  color: #272822;
}

.monokai input {
  color: #d6d6d6;
}

.monokai select {
  background-color: #A6E12E;
  color: #002b36;
}

/* Barbie Theme */

.barbie {
  background-color: #F5E9F5;
  color: #DD71B9  ;
}

.barbie .BorderedRow td {
  border-bottom: 0.225rem solid #EBB2D9 ;
}

.barbie .BorderedColumn {
  border-right: 0.225rem solid #EBB2D9
}

.barbie .SudokuCell {
  background-color: #F2DCEE;
}

.barbie button {
  background-color: #DD71B9;
  color: #F5E9F5;
}

.barbie input {
  color: #DD71B9;
}

.barbie select {
  background-color: #DD71B9;
  color: #F5E9F5;
}

/* Zenburn Colours */

.zenburn {
  background-color: #3F3F3F;
  color: #C2BF9F  ;
}

.zenburn .BorderedRow td {
  border-bottom: 0.225rem solid #7E9F7F ;
}

.zenburn .BorderedColumn {
  border-right: 0.225rem solid #7E9F7F
}

.zenburn .SudokuCell {
  background-color: #545454;
}

.zenburn button {
  background-color: #DFDEBF;
  color: #3F3F3F;
}

.zenburn input {
  color: #DEDEDE;
}

.zenburn select {
  background-color: #8BD0D3;
  color: #545454;
}

/* Matrix Colours */

.matrix {
  background-color: #0C0C0C;
  color: #BBFFBB  ;
}

.matrix .BorderedRow td {
  border-bottom: 0.225rem solid #00CC01 ;
}

.matrix .BorderedColumn {
  border-right: 0.225rem solid #00CC01
}

.matrix .SudokuCell {
  background-color: #002200;
}

.matrix button {
  background-color: #006501;
  color: #84F783;
}

.matrix input {
  color: #00C600;
}

.matrix select {
  background-color: #006501;
  color: #00CC01;
}

/* Autumn Colours */

.autumn {
  background-color: #241F19;
  color: #FFE5B4  ;
}

.autumn .BorderedRow td {
  border-bottom: 0.225rem solid #C13F01 ;
}

.autumn .BorderedColumn {
  border-right: 0.225rem solid #C13F01
}

.autumn .SudokuCell {
  background-color: #2D2822;
}

.autumn button {
  background-color: #8b571b;
  color: #241F19;
}

.autumn input {
  color: #FFE5B4;
}

.autumn select {
  background-color: #E4963D;
  color: #241F19;
}

/* spicy Colours */

.spicy {
  background-color: #BC412B;
  color: #B8D5B8  ;
}

.spicy .BorderedRow td {
  border-bottom: 0.225rem solid #49cbce ;
}

.spicy .BorderedColumn {
  border-right: 0.225rem solid #49cbce
}

.spicy .SudokuCell {
  background-color: #c74932;
}

.spicy button {
  background-color: #B8D5B8;
  color: #241F19;
}

.spicy input {
  color: #FED18C;
}

.spicy select {
  background-color: #FE654F;
  color: #241F19;
}